name: zookeeper
icon: zookeeper
type: datastore
title: ZooKeeper
hostname: zookeeper
containers:
- name: zookeeper
  image: wodby/zookeeper
endpoints:
- name: zookeeper
  ports:
  - name: zookeeper
    number: 2181
    type: tcp
options:
- version: '3.9'
  tag: 3.9
labels:
- zookeeper

helm:
  name: wodby
  source: oci://registry-1.docker.io/wodby/zookeeper
  chart: oci://registry-1.docker.io/wodby/zookeeper
  version: 0.1.0
  configurations:
  - name: zookeeper
    labels: commonLabels
    annotations: commonAnnotations
    env: extraEnvVars
    resources: resources
  values:
  - name: resourcesPreset
    value: 'none'  

volumes:
- name: data
  title: Data
  optional: true
  size: 5
  helm:
    labels: persistence.labels
    values:
    - name: persistence.enabled	
      value: true
    - name: persistence.size
      value: '{{volumes.data.size}}Gi'
